<!DOCTYPE html>
<html>
<head>

	<title>chatbot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/mydesign.css">

	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>

	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>
	<div id = "test">
		<p>Hello.Please provide us with your CV.</p>
		<form id="cv_form">{% csrf_token %}
  		<input type="submit" value="Upload" class="btn btn-outline-primary" >
		</form>
		<br>

	</div>

    <br>

<footer class="footer">
      <div class="container">
        <span class="text-muted">
            <form id="chatbot_form" class="input-group mb-3">{% csrf_token %}

  <input type="text" name="reponse" id="rep" class="form-control">
  <div class="input-group-append">
  <input type="submit" value="Send" class="btn btn-success btn-lg" id="sen">
</div>
</form>

        </span>
      </div>
</footer>
	
</body>

<script>

$(document).on('submit','#cv_form',function(e){
    	e.preventDefault();
    	$.ajax({
    		type:'POST',
    		url:'/chatbot/cvmodule/',
    		data:{
    			csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

    		},

    		success:function(){
    		document.getElementById("test").innerHTML+="Welcome. Type READY when ready"
    		document.getElementById("test").innerHTML+="<br>"
    		document.getElementById("test").innerHTML+="<br>"

    	}


    	});

    });
</script>



<script>
    var i = 0;
    $(document).on('submit','#chatbot_form',function(e){
    	e.preventDefault();
    	$.ajax({
    		type:'POST',
    		url:'/chatbot/genresp/',
    		data:{
    			rep:$('#rep').val(),
    			question_id: i,
    			csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

    		},
    		dataType: 'json',
    		success:function(data){

        i = data.question_id;

        i++;
		var ch= document.getElementById('rep').value;
		document.getElementById("test").innerHTML+= ch;
				ch1= data.resp;
		document.getElementById("test").innerHTML+= "<br>";
		document.getElementById("test").innerHTML+= "<br>";
		document.getElementById("test").innerHTML+= ch1;
		document.getElementById("test").innerHTML+= "<br>";
		document.getElementById("test").innerHTML+= "<br>";






    	}


    	});

    });


</script>
</html>